
<!-- footer start here -->
<footer class="dark-style bg-dark">
    <div class="container">

        <div class="up-footer">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget social-widget">
                        <p></p>
                        <a href="index.html">
                            <img src="assets/images/logo1.png" alt="">
                        </a>
                        
                        <ul class="social-list">
                            <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li> -->
                            <!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li> -->
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget newsletter-widget text-white">
                        <h3>Contact</h3>
                        <p><i class="fa fa-phone "></i>+8983046088</p>
                        <p><i class="fa fa-envelope"></i>karansalunkhe88@gmail.com</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-white">
                    <div class="footer-widget contact-widget">
                        <h3>How To Find Us</h3>
                        <p><i class="fa fa-map-marker"></i>A-2 / 202 Dadar, Mumbai – 400605.</p>
                        
                    </div>
                </div>

            </div>
        </div>

        <p class="copyright-line text-white">Copyright &copy; 2021 KS Mart. All rights reserved.</p>
        <a href="#" class="go-top text-white">Back To Top</a>

    </div>

</footer>