<div class="container-fluid">
    <h3 class="h3">T-Shirts </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" class="img-fluid" src="assets/images/mens/f1.jpg" width="297px" height="356px">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
        
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/j1.jpg"  width="297px" height="356px">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/j4.jpg"  width="634" height="600">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/m4.jpg"  width="634" height="600">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Slim Fit</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
    


<div class="container-fluid">
    <h3 class="h3">Men Slim Fit </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/m3.jpg" width="297px" height="356px">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
        
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/j4.jpg" width="297px" height="356px">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Slim Fit</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/m5.jpg"  width="634" height="600">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                
                <div class="product-content">
                    <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/mens/m6.jpg"  width="634" height="600">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>