 
    <div class="container-fluid">
        <h3 class="h3"> Smart Phone </h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m1.jpg" width="297px" height="356px">
                        </a>
                        
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">20%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">Lenovo mobiles</a></h3>
                        <div class="price">$16.00
                            <span>$20.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
            
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m2.jpg"  width="297px" height="356px">
                        </a>
                       
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">Redmi A5</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m3.jpg"  width="634" height="600">
                        </a>
                       
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                    
                    <div class="product-content">
                        <h3 class="title"><a href="#">Samsung J5</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m5.jpg"  width="634" height="600">
                        </a>
                        
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">Realme X3</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        


    <div class="container-fluid">
        <h3 class="h3">Smart Phones </h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m6.jpg" width="297px" height="356px">
                        </a>
                        
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">20%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">One plus</a></h3>
                        <div class="price">$16.00
                            <span>$20.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
            
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m7.jpg" width="297px" height="356px">
                        </a>
                       
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">Readme 9 Pro</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m8.jpg"  width="634" height="600">
                        </a>
                       
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                    
                    <div class="product-content">
                        <h3 class="title"><a href="#">Samsung M31</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="pic-1" src="assets/images/mobile/m9.jpg"  width="634" height="600">
                        </a>
                        
                        <span class="product-new-label">Sale</span>
                        <span class="product-discount-label">50%</span>
                    </div>
                   
                    <div class="product-content">
                        <h3 class="title"><a href="#">Nokia A8</a></h3>
                        <div class="price">$5.00
                            <span>$10.00</span>
                        </div>
                        <a class="add-to-cart" href="">+ Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>