 <!-- slider section -->
 <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/banner2.jpg" alt="Los Angeles" width="100%" height="200">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such a great time in LA!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner1.jpg" alt="Chicago" width="100%" height="200">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner3.jpg" alt="New York" width="100%" height="200">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>



  <!-- products add here -->
 

  <div class="container-fluid">
    <h3 class="h3">Sarees  </h3>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/womens/s1.jfif" width="297px" height="356px">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">20%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Polka Print Daily</a></h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
        
                    <a href="#">
                        <img class="pic-1" src="assets/images/womens/s2.jpg"  width="297px" height="356px">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Solid Daily Wear</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/womens/s5.jpg"  width="634" height="600">
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
                
                <div class="product-content">
                    <h3 class="title"><a href="#">Embellishe Sarres</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="assets/images/womens/s4.jpg"  width="634" height="600">
                    </a>
                    
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">50%</span>
                </div>
               
                <div class="product-content">
                    <h3 class="title"><a href="#">Printed Flural</a></h3>
                    <div class="price">$5.00
                        <span>$10.00</span>
                    </div>
                    <a class="add-to-cart" href="">+ Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
    



<div class="container-fluid">
<h3 class="h3">T-Shirts </h3>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mens/f1.jpg" width="297px" height="356px">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">20%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                <div class="price">$16.00
                    <span>$20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
    
                <a href="#">
                    <img class="pic-1" src="assets/images/mens/j1.jpg"  width="297px" height="356px">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Men's Plain Tshirt</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mens/j4.jpg"  width="634" height="600">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
            
            <div class="product-content">
                <h3 class="title"><a href="#">Men Regular Fit</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mens/m4.jpg"  width="634" height="600">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Men Slim Fit</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
</div>
</div>


<div class="container-fluid">
<h3 class="h3"> Smart Phone </h3>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mobile/m1.jpg" width="297px" height="356px">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">20%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Lenovo mobiles</a></h3>
                <div class="price">$16.00
                    <span>$20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
    
                <a href="#">
                    <img class="pic-1" src="assets/images/mobile/m2.jpg"  width="297px" height="356px">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Redmi A5</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mobile/m3.jpg"  width="634" height="600">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
            
            <div class="product-content">
                <h3 class="title"><a href="#">Samsung J5</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/mobile/m5.jpg"  width="634" height="600">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Realme X3</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
</div>
</div>





<div class="container-fluid">
<h3 class="h3"> Electronics Home App. </h3>
<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/elect/e1.jpg" width="297px" height="356px">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">20%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Bajaj Mixer</a></h3>
                <div class="price">$16.00
                    <span>$20.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
    
                <a href="#">
                    <img class="pic-1" src="assets/images/elect/e2.jpg"  width="297px" height="356px">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">LG Washing Machine</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/elect/e3.jpg"  width="634" height="600">
                </a>
               
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
            
            <div class="product-content">
                <h3 class="title"><a href="#">Cooler</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6">
        <div class="product-grid">
            <div class="product-image">
                <a href="#">
                    <img class="pic-1" src="assets/images/elect/e4.jpg"  width="634" height="600">
                </a>
                
                <span class="product-new-label">Sale</span>
                <span class="product-discount-label">50%</span>
            </div>
           
            <div class="product-content">
                <h3 class="title"><a href="#">Dell Laptops</a></h3>
                <div class="price">$5.00
                    <span>$10.00</span>
                </div>
                <a class="add-to-cart" href="">+ Add To Cart</a>
            </div>
        </div>
    </div>
</div>
</div>

<app-footer></app-footer>
